/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
   .container{
      margin-inline: 1rem;
   }

   .home__title{
      font-size: 2rem;
   }
}

@media screen and (min-width: 350px) and (max-height: 680px){
   .home__container{
      height: 700px;
   }
}

/* For medium devices */
@media screen and (min-width: 576px){
   .home{
      &__data{
         max-width: 380px;
         margin-inline: auto;
      }
      &__images img{
         width: initial;
         right: 0;
      }
   }
}

/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .nav{
      height: calc(var(--header-height) + 2rem);
      
      &__toggle,
      &__close{
         display: none;
      }
      &__list{
         flex-direction: row;
         column-gap: 4rem;
      }
   }

   .home{
      &__container{
         height: 960px;
      }
      &__data{
         max-width: 610px;
         text-align: initial;
         margin: 0;
      }
      &__description{
         padding-right: 8rem;
         margin-bottom: 3rem;
      }
      &__lantern-1,
      &__lantern-2{
         width: 80px;
      }
      &__lantern-1{
         top: 6.5rem;
         right: 4rem;
      }
      &__lantern-2{
         left: initial;
         right: 14rem;
         bottom: -3.5rem;
      }
   }

   ::-webkit-scrollbar{
      width: .6rem;
      background-color: hsl(353, 12%, 10%);
      
      &-thumb{
         background-color: hsl(353, 12%, 25%);
      }
   }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) and (min-height: 1100px){
   .container{
      max-width: 1300px;
   }
   
   .home{
      &__container{
         height: 100vh;
         display: grid;
      }
      &__data{
         align-self: center;
      }
   }
}

/* For taller devices */
@media screen and (max-width: 1150px) and (min-height: 900px){
   .home{
      &__container{
         display: grid;
      }
      &__data{
         align-self: center;
      }
   }
}
